.chartContainer {
    display: inline-block;
    border: 1px solid #444444;
    min-height: 1em;
    width: 100%;
    margin: 1em;
}

.chartTitle {
    font-family: Arial;
    text-align: center;
    width: 100%;
    display: inline-block;
}